.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.videoContainer {
  width: inherit;
  height: inherit;
}

.video {
  width: 80%;
}

.videoContent {
  width: 80%;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.25), rbga(0, 0, 0, 0.5));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoContentText {
  position: absolute;
  color: white;
}
